[project]
	description = This is only a git tutorial project.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Daniel (learningendless)
[access "refs/for/refs/*"]
	read = group user/Daniel (learningendless)
	push = group user/Daniel (learningendless)
	label-Code-Review = -2..+2 group user/Daniel (learningendless)
	label-Verified = -1..+1 group user/Daniel (learningendless)
	rebase = group user/Daniel (learningendless)
	removeReviewer = group user/Daniel (learningendless)
	submit = group user/Daniel (learningendless)
[access "refs/heads/*"]
	read = group user/Daniel (learningendless)
	create = group user/Daniel (learningendless)
	push = +force group user/Daniel (learningendless)
	pushMerge = group user/Daniel (learningendless)
[access "refs/tags/*"]
	push = group user/Daniel (learningendless)
	push = +force group user/Daniel (learningendless)
